textarea {
    min-height: 400px;
}


#emails-view > div{
    display: flex;
    background-color: azure;
    gap: 2rem;
    margin: 0.5rem;
    position: relative;
}

.email_timestamp{
    position: absolute;
    right: 5px;
}